html, body {
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
    background-color: rgb(24, 24, 24);
}

.header-top-line {
    height: 10px;
    background-color: #295568;
    position: absolute;
    width: 100%;
}

.navbar-default.header-top-menu {
    height: 72px;
    margin: 0;
    background: none;

    padding-top: 14px;
    border: none;
    z-index: 11;
}

.nav.navbar-nav li a {
    padding: 0;
    height: 72px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 72px;
    color: rgb(255, 255, 255);
    text-align: left;
    padding-bottom: 6px;

}

.nav.navbar-nav li form div input {
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    background-image: url("../img/search.png");
    background-position: 93% center;
    background-repeat: no-repeat;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    height: 30px;
    margin-top: 18px;
    padding-left: 15px;
    padding-right: 15px;
    width: 168px;
    float: right;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
    background: none !important;
    font-size: 12px;
    text-decoration: none;
    color: rgb(255, 185, 0);
    text-align: left;
    padding-bottom: 6px;
}

.nav.navbar-nav li a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: rgb(255, 185, 0) !important;
}

.navbar-brand {
    padding-left: 0;
    padding-right: 0;
}

.nav.navbar-nav li form {
    margin: 0;
}

.container {
    padding: 0;
    min-width: 1000px;
}

.container-fluid {
    padding: 0;
}

.col-md-6.tl {
    background-image: url(../img/hard-left-top.jpg);
    top: 0;
    left: 0;
    text-align: right;
    padding-right: 22%;
    padding-left: 60px;
}

.col-md-6.tr {
    background-image: url(../img/hard-right-top.jpg);
    top: 0;
    right: 0;
    padding-left: 22%;
    padding-right: 60px;
}

.col-md-6.bl {
    background-image: url(../img/hard-left-bottom.jpg);
    bottom: 0;
    left: 0;
    text-align: right;
    padding-right: 22%;
    padding-left: 60px;
}

.col-md-6.br {
    background-image: url(../img/hard-right-bottom.jpg);
    bottom: 0;
    right: 0;
    padding-left: 22%;
    padding-right: 60px;
}

.navy-panel {
    background-repeat: no-repeat;
    background-size: 100% 200%;
    position: absolute;
    padding: 0;
    box-sizing: border-box;
    background-position: 0px 1px;
}

.navy-panel i {
    display: none;
}

.navy-panel div {
    font-weight: bold;
    font-size: 24px;
    color: #333;
    text-transform: uppercase;
    margin-top: 43%;
    line-height: 28px;
}

.navy-panel p {
    color: #828282;
    font-size: 12px;
    line-height: 14px;
}

.navy-panel:hover {
    background-position: left bottom;
    text-decoration: none;
}

.container.main-navy-positioned {
    position: absolute;
    left: 50%;
    top: 50%;
}

.navy-main {
    width: 100%;
    position: relative;
    margin: 0;
}

.middle-element {
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url('../img/middle.png');
    background-size: 100% 100%;
    z-index: 10;
    display: block;
}

.wraper {
    width: 100%;
    display: table;
    min-height: 100%;
    height: 100%;
    padding-bottom: 66px;
}

.title-main {
    font-size: 22px;
    text-transform: uppercase;
    height: 66px;
    border-bottom: #dddddd solid 1px;
    line-height: 66px;
    margin: 0;
    padding: 0;
    margin-bottom: 66px;
}

.footer {
    height: 66px;
    width: 100%;
    margin-top: -66px;
    background-color: rgb(26, 26, 26);
}

.footer p {
    font-size: 14px;
    line-height: 66px;
    color: rgb(69, 69, 69);
    text-align: center;
    width: 100%;
    display: inline-block;
    float: left;
    margin: 0;
}

.footer a:hover {
    background-position: center bottom;
}

.header-logo {
    width: 100%;
    position: absolute;
    height: 152px;
    background-image: url('../img/line_top.png');
    background-repeat: no-repeat;
    background-position: center top;
    z-index: 10;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
}

.main-container {
    width: 100%;
    height: auto;
    background-image: url('../img/bg-center.png');
    background-repeat: no-repeat;
    background-position: center top;
}

p {
    font-size: 14px;
    line-height: 18px;
    color: rgb(204, 204, 204);
    text-align: left;

}

h1 {
    font-size: 16px;
    line-height: 18px;
    color: rgb(255, 255, 255);
    text-align: left;
    margin: 0;
    padding: 0;
}

.h1-top {
    width: 100%;
    height: 80px;
    z-index: 9;
    max-width: 1000px;
    margin: 0 auto;
    background-image: url("../img/h1-left.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-color: rgb(42, 42, 42);
}

.h1-top h1 {
    padding-left: 258px;
    line-height: 80px;
    text-transform: uppercase;
    background-image: url("../img/h1-rigt.png");
    background-position: top right;
    background-repeat: no-repeat;
}

.static-pg {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 26px;
}

/* О бо мне begin */
.o-bo-mne {
    width: 100%;
    display: table;
    height: auto;
}

.o-bo-mne .left-bl {
    display: table-cell;
    width: 40%;
    vertical-align: top;
}

.o-bo-mne .left-bl img {
    width: 100%;
    height: auto;
}

.o-bo-mne .right-bl {
    display: table-cell;
    vertical-align: top;
    padding-left: 30px;
}

.hr-small {
    border: none;
    background-color: rgb(243, 177, 1);
    height: 5px;
    width: 80px;
    margin: 0;
    margin-bottom: 20px;
}

/* О бо мне END */

/* soc seti begin */
.scocials-list {
    display: block;
    width: auto;
    padding: 0;
    margin-top: 5px;
    height: 40px;
}

.scocials-list li {
    width: 40px;
    height: 40px;
    margin-left: 6px;
    float: left;
    list-style: outside none none;
}

.scocials-list li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.scocials-list li:nth-child(1) {
    margin-left: 0;
}

.icon-social {
    display: block;
    background-image: url('../img/soc_seti.png');
    width: 40px;
    height: 40px;
}

.icon-social.vk {
    background-position: 0 0;
}

.icon-social.od {
    background-position: -48px 0;
}

.icon-social.fb {
    background-position: -97px 0;
}

.icon-social.gplus {
    background-position: -145px 0;
}

.icon-social.ya {
    background-position: -194px 0;
}

.icon-social.mail {
    background-position: -242px 0;
}

.icon-social.tw {
    background-position: -291px 0;
}

.icon-social.vk:hover {
    background-position: 0 -43px;
}

.icon-social.od:hover {
    background-position: -48px -43px;
}

.icon-social.fb:hover {
    background-position: -97px -43px;
}

.icon-social.gplus:hover {
    background-position: -145px -43px;
}

.icon-social.ya:hover {
    background-position: -194px -43px;
}

.icon-social.mail:hover {
    background-position: -242px -43px;
}

.icon-social.tw:hover {
    background-position: -291px -43px;
}

/* soc seti End */

/* gallery begin */

.gallery-tbl {
    width: 100%;
    height: auto;
    display: table;
}

.gallery-tbl .img-bl {
    width: 19%;
    height: auto;
    float: left;
    margin-left: 1.25%;
    margin-bottom: 10px;
    vertical-align: top;
    position: relative;
}

.gallery-tbl:hover .img-bl {
    opacity: 0.5;

}

.gallery-tbl:hover .img-bl:hover {
    opacity: 1;
    cursor: zoom-in;
}

.gallery-tbl:hover .img-bl:hover .bg-zoom {
    display: block;
}

.bg-zoom {
    display: none;
    position: absolute;
    width: 76px;
    height: 50px;
    bottom: 0;
    left: 0;
    background-image: url("../img/img-bg.png");
    background-repeat: no-repeat;
    background-position: left bottom;
}

.gallery-tbl .img-bl img {
    width: 100%;
}

.gallery-tbl .img-bl:nth-child(5n+1) {
    margin-left: 0;
}

/* gallery End */

/* news begin */

.news-sp {
    width: 100%;
    height: auto;
    display: block;
}

.news-sp .news-tbl {
    display: table;
    width: 100%;
    height: 340px;
    border-top: 1px solid rgb(74, 74, 74);
    border-right: 1px solid rgb(74, 74, 74);
    margin-bottom: 20px;
}

.news-sp .news-tbl .left-bl {
    display: table-cell;
    vertical-align: middle;
    width: 111px;
    position: relative;
}
.news-sp .news-tbl .left-bl .date-bl{
    display: block;
    width:70px;
    text-align: right;
    z-index: 2;
    position: relative;
}
.news-sp .news-tbl .left-bl .date-bl .date-bl-d{
    font-size:36px;
    font-weight:bold;
    line-height:36px;
    color:rgb(255,255,255);
}
.news-sp .news-tbl .left-bl .date-bl hr{
    clear: both;
    margin: 20px 0;
    padding: 0;
    border-top: 1px solid rgba(255,255,255,0.3);
}
.news-sp .news-tbl .left-bl .date-bl .date-bl-m-y{
    font-size:14px;
    line-height:18px;
    color:rgb(255,255,255);
    padding-right: 5px;
}
.news-sp .news-tbl .left-bl .bg-news-left{
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 131px;
    height: 100%;
    background-image: url("../img/bg-news-left.png");
    background-repeat: no-repeat;
    background-position: top center;
}
.news-sp .news-tbl .right-bl {
    display: table-cell;
    background-color: rgb(29,29,29);
    background-image: url("../img/cloud.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.news-sp .news-tbl .right-bl .name-bl{
    font-size:18px;
    line-height:18px;
    color:rgb(253,184,0);
    height: 73px;
    line-height: 20px;
    text-transform: uppercase;
    padding:16px 30px;
    overflow: hidden;
    background-image: url("../img/news-bg-r.png");
    background-repeat: no-repeat;
    background-position: right top;
}
.news-sp .news-tbl .right-bl .img-bl{
    background-position:center center;
    background-repeat: no-repeat;
    height: 150px;
    overflow: hidden;
    text-align: center;
}
.news-sp .news-tbl .right-bl .title-bl{
    font-size:14px;
    line-height:129%;
    color:rgb(204,204,204);
    padding:16px 30px;

}
.news-sp .news-tbl .right-bl .next-bl{
    width: 142px;
    height: 37px;
    background-image: url("../img/next.png");
    background-repeat: no-repeat;
    background-position: top right;
    text-align:center;
    line-height: 37px;
    margin-left: -11px;
}
.news-sp .news-tbl .right-bl .next-bl a{
    font-size:12px;
    text-decoration:underline;
    color:rgb(255,255,255);
}
.news-sp .news-tbl .right-bl .next-bl a:hover{
    text-decoration: none;
}

/* news end */

/* news inner begin */

.news-inner-main{
    width: 100%;
}
.news-inner-main h3{
    padding-top: 25px;
    padding-bottom: 25px;
    color: #feb900;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 25px;
    line-height: 18px;
    border: #4a4a4a solid 1px;
    background-image: url('../img/news-bg-r.png');
    background-repeat: no-repeat;
    background-position: right center;
    margin: 0;
    margin-top: 20px;
}
.news-inner-main .date{
    width: 114px;
    height: 150px;
    display: inline-block;
    float: left;
    background-color: #006cff;
    background-image: url('../img/bg-news-left.png');
    background-repeat: no-repeat;
    background-position: left center;
}
.news-inner-main .image{
    height: 150px;
    width: 886px;
    display: inline-block;
    float: right;
    background-repeat: no-repeat;
    background-position: center center;
}
.news-inner-main .date b{
    display: block;
    text-align: center;
    height: 74px;
    text-align: center;
    color: #fff;
    font-size: 36px;
    line-height: 74px;
}
.news-inner-main .date hr{
    margin: 0;
    padding: 0;
    border: none;
    width: 71px;
    background-color: rgba(225,225,225, 0.4);
    height: 1px;
} 
.news-inner-main .date span{
    color:#fff;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    vertical-align: middle;
    display: block;
}
.news-inner-main .text-side{
    padding: 30px;
    width: 100%;
    box-sizing:border-box;
    background-color: #2b2b2b;
}
.news-inner-main .text-side b{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    display: block;
}
.news-inner-main .text-side p{
    color: #cdcdcd;
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 10px;
    margin: 0;
}
.social-block{
    position: relative;
    padding-left: 30px;
    height: 100px;
    background-color: #2b2b2b;
}
.social-block .name-bl{
    color:#545454;
}
.social-block .back-block{
    width: 205px;
    height: 140px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url('../img/bblock-cloud.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}
.social-block .back-block a{
    color: #fff;
    font-size: 14px;
    text-align: center;
    background-color: #006cff;
    width: 200px;
    height: 37px;
    line-height: 37px;
    position: absolute;
    right: 0;
    bottom: 20px;
    background-image: url('../img/btn-bg.jpg');
    text-decoration: underline;
     background-repeat: no-repeat;
     background-position: left center;
}
.social-block .back-block a:hover{
    text-decoration: none;
}

/* news inner end */

/* feedback begin */
.feedback-content-block .add{
    color: #fff;
    font-size: 14px;
    text-align: center;
    background-color: #006cff;
    width: 200px;
    height: 37px;
    line-height: 37px;
    border:none;
    background-image: url('../img/add-btn-bg.jpg');
    text-decoration: underline;
    background-repeat: no-repeat;
    background-position: right center;
    margin-top: 30px;
    border-radius: 0;
    padding: 0;
}
.feedback-content-block .add:hover{
    text-decoration: none;
}
.feedback-item{
    width: 100%;
}
.feedback-item h4{
    font-size: 16px;
    color: #ffba00;
    font-weight: bold;
    padding-left: 30px;
    height: 60px;
    line-height: 60px;
}
.feedback-item h4 span{
    font-weight: normal;
    font-size: 14px;
    color: #4e4e4e;
    margin-left: 30px;
}
.feedback-item .text{
    padding: 30px;
    background-color: #4e4e4e;
    position: relative;
    background-image: url('../img/fb-bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.feedback-item .text p{
    color: #e7e7e7;
    font-size: 14px;
    line-height: 24px;
    margin:0;
}
.feedback-item .text .arrow{
    width: 19px;
    height: 10px;
    position: absolute;
    left: 84px;
    top: -10px;
    background-image: url('../img/fb-arrow.png');
    background-repeat: no-repeat;

}
/* feedback end */

/* feedback window begin */
.modal-content{
    border-radius: 0;
    background-color: #4e4e4e;
}
.modal-dialog.feedback{
    width: 843px;
}

.modal-dialog.feedback .modal-title{
    font-size: 16px;
    color: #fff;
    padding: 30px;
    margin: 0;
    text-transform: uppercase;
    border:none;
    line-height: 16px;
}
.modal-dialog.feedback .modal-header{
    padding: 0;
    border:none;
    background-image: url('../img/modal-top.png');
    background-repeat: no-repeat;
    background-position: right top;
}
.modal-body.feedback{
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
}
.modal-body.feedback input{
    width: 490px;
    height: 58px;
    border:none;
    border-bottom: #8c8c8c solid 1px;
    background-color: #cecece;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing:border-box;
}
.modal-body.feedback .form-item{
    height: 90px;
}
.modal-body.feedback .form-item.textarea{
    height: 198px;
}
.modal-body.feedback textarea{
    width: 780px;
    height: 166px;
    border:none;
    border-bottom: #8c8c8c solid 1px;
    background-color: #cecece;
    padding: 15px;
    box-sizing:border-box;
}
.modal-dialog.feedback .modal-footer{
    border:none;
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    box-sizing:border-box;
}
.modal-dialog.feedback .modal-footer .btn.btn-primary.send{
    float: left;
    background: none;
    background-color: #ffba00;
    border-radius: 0;
    border:none;
    color: #fff;
    text-transform: uppercase;
    width: 352px;
    height: 60px;
    font-size: 18px;
    text-shadow:none;
}
.modal-dialog.feedback .modal-footer .btn.btn-primary.send:hover{
 background-color: #ffa800;
}
.modal-dialog.feedback .modal-footer .btn.btn-default.discuss{
    background-color: transparent;
    border:none;
    float: left;
    background: none;
    box-shadow: none;
    text-shadow:none;   
    color: #cecece;
    text-decoration: underline;
    margin-left: 30px;
    margin-top: 18px;
    font-size: 14px;
}
.modal-dialog.feedback .modal-footer .btn.btn-default.discuss:hover{
    text-decoration: none;
}
.modal-dialog.feedback .modal-content{
    background-position: right bottom;
    background-repeat: no-repeat;
    background-image: url('../img/modal-bot.png');
}
/* feedback window end */

/* catalog begin */

.catalog-main .submenu{
    height: 56px;
    width: 638px;
    border: #ffba00 solid 2px;
    margin-top: 10px;
    float: left;
    display: inline-block;
    padding: 0;
}
.catalog-main hr{
    border:none;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    background-color: #2b2b2b;
}
.catalog-main .submenu li{
    display: inline-block;
    list-style: none;
    width: 211px;
    float: left;
    margin:0;
    padding: 0;
}
.catalog-main .submenu li:last-child{
    float: right;
}
.catalog-main .submenu li a{
    display: block;
    height: 54px;
    width: 100%;
    line-height: 54px;
    color:#fff;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}
.catalog-main .submenu li a:hover{
    text-decoration: underline;
    color: #ffba00;
}
.catalog-main .submenu li.active a{
    background-color:#ffba00;
    color: #333;
}
.catalog-main .submenu li.active a:hover{
    text-decoration: none;
}
.catalog-main .custom{
    border: #ffba00 solid 2px;
    display: inline-block;
    float: right;
    margin-top: 10px;
    width: 343px;
    height: 56px;
    line-height: 54px;
    color:#fff;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 30px;
    box-sizing:border-box;
    background-image: url('../img/custom.jpg');
    background-repeat: no-repeat;
    background-position: left center;
}
.catalog-main .custom:hover{
    color: #ffba00;
}
.guitar-catalog-item{
    width: 100%;
    background-color: #2b2b2b;
    height: 155px;
    display: block;
}
.guitar-catalog-item .image{
    width: 494px;
    height: 154px;
    border: #ffba00 solid 2px;
    display: inline-block;
    float: left;
    position: relative;
}
.guitar-catalog-item .image img{
    width: 490px;
    height: 150px;
    display: block;
}
.guitar-catalog-item .image .rect{
    position: absolute;
    background-image: url('../img/rect.png');
    width: 20px;
    height: 20px;
    right: -10px;
    top: 68px;
}
.guitar-catalog-item .description{
    width: 256px;
    display: inline-block;
    box-sizing:border-box;
    padding-left: 30px;
}
.guitar-catalog-item .description h3{
    font-size: 19px;
    text-decoration: underline;
    color: #ffba00;
    margin-top: 40px;
}
.guitar-catalog-item .description p{
    font-size: 12px;
    color: #cdcdcd;
    line-height: 18px;
}
.guitar-catalog-item .price{
    display: inline-block;
    float: right;
    width: 214px;
}
.guitar-catalog-item .price span{
    font-size: 12px;
    color: #cdcdcd;
    padding-top: 30px;
    display: block;
}
.guitar-catalog-item .price div{
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color:#FFF;
    background-color: #ffba00;
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}
.guitar-catalog-item .price div .rect-sm{
    position: absolute;
    background-image: url('../img/rect-sm.png');
    width: 10px;
    height: 10px;
    left: -5px;
    top:24px;
    background-color: transparent;
}
.guitar-catalog-item .price p{
    font-size: 12px;
    text-decoration: underline;
    color: #ffba00;
}
.guitar-catalog-item:hover .price p{
    text-decoration: none;
}
.guitar-catalog-item:hover .description h3{
    text-decoration: none;
}
/* catalog end */

/* product card begin */
.product-card-inner{
    width: 100%;
}
.desc-side{
    float: left;
    width: 440px;
    vertical-align: top;
}
.product-card-inner .char-side{
    width: 540px;
    float: right;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
}
.product-card-inner .char-side h2{
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    padding-top: 20px;
    line-height: 40px;
}
.product-card-inner .char-side h4{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
}
.product-card-inner .char-side table{
    border-spacing: 0;
    padding: 0;
}
.product-card-inner .char-side table tr td:first-child{
    width: 290px;
    font-size: 14px;
    color: #cdcdcd;
    line-height: 28px;
}
.product-card-inner .char-side table tr td:last-child{
    padding-left: 30px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    line-height: 28px;
    width: 240px;
}
.product-card-inner .char-side button{
    background: none;
    background-color: #ffba00;
    border-radius: 0;
    border:none;
    color: #fff;
    text-transform: uppercase;
    width: 352px;
    height: 60px;
    font-size: 18px;
    text-shadow:none;
    font-weight: bold;
    margin-top: 36px;
    margin-bottom: 20px;
}
.product-card-inner .char-side button:hover{
    background-color: #ffa800;
}

.product-card-inner .char-side a.back{
    color: #ffba00;
    text-decoration: underline;
    font-size: 14px;
}
.product-card-inner .char-side a.back:hover{
    text-decoration: none;
}
.product-card-inner .desc-side fieldset{
    border:#2b2b2b solid 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.product-card-inner .desc-side fieldset p{
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
}
.product-card-inner .desc-side fieldset p span{
    text-transform: uppercase;
    color: #ffba00;
}
.product-card-inner .desc-side fieldset legend{
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    border:none;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 16px;
} 
.main-photo-bl{
    width: 440px;
    height: 440px;
    border:#ffba00 solid 2px;
    margin-top: 45px;
}
.main-photo-bl img{
    width: 436px;
    height: 436px;
}
.miniature-block{
    text-align: center;
    margin-top: 10px;
}
.miniatute-item{
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}
.miniatute-item:first-child{
    margin: 0;
}
.miniatute-item img{
    width: 80px;
    height: 80px;
}
.miniatute-item img.active{
    border:#ffba00 solid 2px;
}
/* product card end */

/*
@media screen and (max-width: 1000px) {
    .nav.navbar-nav li span {
        display: none;
    }

    .navbar-brand {
        width: 10%;
    }

    .nav.navbar-nav li form div input {
        width: 130px;
    }

    .navy-panel div {
        font-size: 20px;
        line-height: 22px;
        margin-top: 54%;
    }

    .navy-panel div span {
        font-weight: normal;
    }

    .navy-panel p {
        display: none;
    }

    .gallery-tbl .img-bl {
        width: 24%;
        margin-left: 1.333% !important;
    }

    .gallery-tbl .img-bl:nth-child(4n+1) {
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 768px) {
    .navbar-header {
        margin: 0 !important;
    }

    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar-toggle {
        margin-right: 20px;
        margin-top: 15px;
    }

    .navbar-header {
        height: 64px;
    }

    .nav.navbar-nav.navbar-right {
        margin: 0;
        width: 100%;
    }

    .nav.navbar-nav.navbar-right a {
        text-align: center;
        font-weight: bold;
        border-bottom: #ebebeb solid 1px;

    }

    .navbar-collapse.collapse.in {
        margin: 0;
        width: 100%;
        padding: 0;
    }

    .container-fluid {
        padding: 0;
        position: absolute;
        width: 100%;
        z-index: 100;
        margin: 0;
    }

    .navbar-brand {
        margin-left: 20px;
        width: 188px;
        padding: 0;
        padding-top: 15px;
    }

    .navbar-brand img {
        width: 100%;
    }

    .nav.navbar-nav li form {
        background-color: #fff;
    }

    .nav.navbar-nav li form div input {
        width: 100%;
    }

    .navy-main {
        position: inherit;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .navbar-form.navbar-right {
        padding: 0;
        height: 69px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .navy-panel {
        width: 100% !important;
        position: relative !important;
        background-size: auto;
        vertical-align: middle;
        border-bottom: #fff solid 3px;
        min-height: 100px;
        text-align: left !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        z-index: 0;
        display: table !important;
    }

    .navy-panel div {
        display: table-cell !important;
        vertical-align: middle;
    }

    .navy-panel i {
        display: inline-block;
        float: left;
        position: absolute;
        top: 50%;
        margin-top: -50px;
    }

    .navy-panel:hover {
        background-position: left top;
    }

    .navy-panel i.icon-tel {
        background-image: url(../img/buttn_down_left.png);
        width: 100px;
        height: 100px;
        vertical-align: middle;
    }

    .navy-panel i.icon-int {
        background-image: url(../img/buttn_top_right.png);
        width: 100px;
        height: 100px;
    }

    .navy-panel i.icon-mob {
        background-image: url(../img/buttn_top_left.png);
        width: 100px;
        height: 100px;
    }

    .navy-panel i.icon-news {
        background-image: url(../img/buttn_down_right.png);
        width: 100px;
        height: 100px;
    }

    .middle-element {
        display: none;
    }

    .navy-panel div {
        margin: 0;
        font-size: 30px;
        line-height: 30px;
        display: inline-block;
        padding-left: 128px;
    }

    .navy-panel div span {
        display: block;
    }

    .container.main-navy-positioned {
        position: relative;
        margin: 0 !important;
        left: 0 !important;
    }

    .navy-main.row {
        height: auto !important;
    }

    .navy-panel.col-md-6.tl {
        background: url('../img/mob.png'), url('../img/mobile-pattern.jpg');
        background-repeat: no-repeat, repeat;
        background-position: right center, left top;
    }

    .navy-panel.col-md-6.tr {
        background: url('../img/inet.png'), url('../img/mobile-pattern.jpg');
        background-repeat: no-repeat, repeat;
        background-position: right center, left top;
    }

    .navy-panel.col-md-6.bl {
        background: url('../img/tel.png'), url('../img/mobile-pattern.jpg');
        background-repeat: no-repeat, repeat;
        background-position: right center, left top;
    }

    .navy-panel.col-md-6.br {
        background: url('../img/new.png'), url('../img/mobile-pattern.jpg');
        background-repeat: no-repeat, repeat;
        background-position: right center, left top;
    }

    .gallery-tbl .img-bl {
        width: 49.5%;
        margin-left: 1% !important;
    }

    .gallery-tbl .img-bl:nth-child(2n+1) {
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 480px) {

    .navy-panel.col-md-6 {
        background: none !important;
        background-image: url('../img/mobile-pattern.jpg') !important;
    }

    .navy-panel {
        padding-left: 12px !important;
    }

    .navy-panel div {
        padding-left: 105px;
        font-size: 22px;
    }

    .navy-panel i {
        height: 80px !important;
        width: 80px !important;
        background-size: 100% 200%;
        margin-top: -40px !important;
    }

    .navbar-brand {
        margin-left: 20px;
        padding: 18px 0 0;
        width: 175px;
    }
}
*/
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */

